
<div class="table-responsive">
	<table id="areaList"
		class="table table-bordered table-hover table-striped">
		<thead class="thead-light">
			<tr>
				<th scope="col">#</th>
				<th scope="col">Name</th>
				<th scope="col">Description</th>
				<th scope="col">State</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="area: ${areaList}">
				<td th:text="${area.id}"></td>
				<td th:text="${area.name}"></td>
				<td th:text="${area.description}"></td>
				<td th:text="${area.state}?'Active':'Inactive'"></td>
				<td>
				<span th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
					<a href="#" th:href="@{'/editArea/'+ ${area.id}}"><i class="fas fa-edit"></i></a>
					</span>
					<span th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" >
					| <a href="#" th:onclick="'javascript:confirmDelete(\''+ ${area.id} +'\');'"><i class="fas fa-user-times"></i></a>
					</span>
			</td>
			</tr>
		</tbody>
	</table>
	<div class="alert alert-danger text-center" th:if="${listErrorMessage}" th:text="${listErrorMessage}">Error Message</div>
</div>

<script type="text/javascript">
function confirmDelete(id){
	$('#deleteModal').modal('show');
	$("#areaIdHiddenInput").val(id);
}

function deleteArea(){
	var id = $("#areaIdHiddenInput").val();
    window.location = "deleteArea/"+id;
}
</script>